beautifulsoup4
certifi
cffi
charset-normalizer
curl-cffi
frozendict
greenlet
idna
multitasking
numpy
pandas
peewee
pip
platformdirs
protobuf
psycopg2-binary
pycparser
python-dateutil
python-dotenv
pytz
requests
setuptools
six
soupsieve
sqlalchemy
typing-extensions
tzdata
urllib3
uv
websockets
yfinance
